.button {
    background-color: #3366ff;
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
}

.button-nav {
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
}